.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.face {
  border-radius: 45%;
  height: 20rem;
  width: 18rem;
  background-color: #D4AB7F;
}
.eye:first-child {
  transform: translate(-4rem, 1rem);
}
.eye:last-child {
  transform: translate(4rem,-1rem);
}
.eye {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  background-color: #FFFFFF;
}
.eye:before {
  transform: translate(0.25rem,0.75rem);
  font-weight: bold;
  font-size: 1.2rem;
  display: block;
  border-radius: 50%;
  content:"\2022";
  height: 1rem;
  width: 1rem;
  background-color: #0000FF;
}
.eye:after {
  transform: translate(-0.75rem, -2rem);
  border-top-left-radius: 45%;
  border-width: 0.15rem;
  content: "";
  display: block;
  height: 1rem;
  width: 3rem;
  border-style: solid;
  border-bottom: none;
  border-right: none;
}
.nose {
  transform: translate(-1rem,0); #?;
  border-radius: 40%;
  height: 4rem;
  width: 2rem;
  background-color: #B3906B;
}
.nose:before {
  font-size: 2rem;
  text-align: center;
  content: "\2022\2022";
  display: block;
  transform: translate(-0.5rem, 3rem);
  border-radius: 40%;
  height: 2rem;
  width: 3rem;
  background-color: #B3906B;
}
.mouth {
  overflow: hidden;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  transform: translate(-5rem, -1.5rem);
}
.mouth:before {
  transform: translate(1rem, 8rem);
  content: "";
  display: block;
  height: 4rem;
  width: 8rem;
  background-color: #000000;
}
.mouth:after {
  border-radius: 20%;
  transform: translate(3.5rem, 5rem);
  content: "";
  display: block;
  height: 3rem;
  width: 3rem;
  background-color: #FF0000;
}